@model IEnumerable<CapaModelo.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["DnisActualizados"] != null)
{
    <div class="alert alert-success" role="alert">
        @Html.Raw(TempData["DnisActualizados"].ToString())
    </div>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<p>
    <a asp-action="ImportarXml">Importar XML</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DNI">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DNI">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DNI">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
