@model CapaModelo.Reserva

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reserva</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Habitacion.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Habitacion.Numero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoAlojamiento.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoAlojamiento.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TipoTemporada.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoTemporada.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Factura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Factura)
        </dd>
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Referido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Referido)
		</dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CheckIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cancelado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cancelado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OfertaId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OfertaId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    <a asp-action="Delete" asp-route-id="@Model.Id">Eliminar</a>
</div>
